/* base */
*{
    margin: 0%;
    padding: 0%;
}


body {
    background-image: url(../imagenes/imagenfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.header {
    background-color: rgb(24, 197, 24);
}



.navbar-light .navbar-nav .nav-link.active {
    color: aliceblue;
    
}



.header {
    background-image: url(../imagenes/imagenportada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 100px;
    border-radius: 6px;
}


.nav-link{
    font-size: 24px;
}


.textoSkate {
    font-family: 'Shadows Into Light', cursive;
}



.carousel-item img {
    max-height:30rem;
    background-size: cover;
    
}



span {
    background-color: black;
}

.footer {
    background-color: aqua;
    height: 50px;
    background-image: url(../imagenes/imagenportada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;

}

.galeria {
    width: 100%;
    padding: 20px;

}

.card {
    
}




