*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body {
    background-image: url(./imagenes/imagenfondo.jpg);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
}



.header {
    background-image: url(./imagenes/imagenportada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(24, 198, 24);
    max-width: 100%;
}



.rounded {
    max-width: 80px;
}

.form-label {
    color: rgb(255, 255, 255);
}


.nav-link{
    font-size: 24px;
}


.textoSkate {
    font-family: 'Shadows Into Light', cursive;
}



.carousel-item {
    height: 100vh;
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.letraCarrusel {
    color: rgba(0, 0, 0, 0.724);
}




.flex-column .card {
    width: 15px;
    padding: 15px; 
    margin-top: 50px;
    border-top: 10px;
}

.body {
    background-image: url(./imagenes/skateParkFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}



span {
    background-color: black;
}


.separator-ribbon {
    width: 100%;
    overflow: hidden;
    position: relative ;
    z-index: 2;
}

.separator-ribbon .content {
    width: 100%;
    height: 100px;
    margin-left: 0%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-family: 'Chewy', cursive;
    justify-content: center;
    color: rgba(242, 255, 0, 0.881);

}


.h1 {
    color: rgb(0, 0, 0);
    font-family: fantasy;
    letter-spacing: 10px;

}

.card-border:hover {
    transform: scale(1.05s);
}


.galeria {
    width: 100%;
    height: auto;

}


.galeria .col-lg-4 {
    padding: 25px;
}

.galeria img:hover {
    border: 2px solid white;
}

.formulario {
    position: fixed;
    left: 50px;
    top: 200px;
}

.footer {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253, 156, 45, 0.63) 100%);
}

.info {
    padding: 150px;
    color: antiquewhite;

}

.info p {
    line-height: 30px;
    text-decoration: wavy;
    text-indent: 0%;
    font-weight: bold;
    font-size: 25px;
}







