.header {
    background-image: url(./imagenes/imagenportada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(24, 197, 24);

    .rounded {
        max-width: 80px;
    }

    .nav-link{
        font-size: 24px;
    }
    
}

